# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]



# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


#IDE
.idea/

*/.DS_Store
.DS_Store
*_dev_settings.py
*.log
.vagrant/
