<script type="application/javascript">
    var options_json= [];
    {% for e in json_data %}
    options_json.push("{{ e }}");
    {% endfor %}
    console.log("OptionsList " + options_json);
		$(document).ready(function(){
			function update_ui(){
				$("#ui_options li").remove()
				for(var i=0;i<options_json.length;i++){
					var html='<li class="list-group-item">';
{#					html+='<label>'+options_json[i]+'</label>';#}
                    html += '<span class="label label-info">'+options_json[i]+'</span>';
					html+='<p class="badge remove_option"  style="cursor:pointer">X</p></li>';
					$("#ui_options").append(html);
				}
			}
			function update_json(){
				options_json=[];
				arr=$("#ui_options li");
				for(var i=0;i<arr.length;i++){
						options_json.push($(arr[i]).children("span").html());
                }
                $("#id_pluginParameters").val("");
				var val=JSON.stringify(options_json,null,2);
				$("#id_pluginParameters").val(val);

			}
			$("#ui_tab").click(function(){
				options_json=JSON.parse($("#id_pluginParameters").val());
				update_ui();
			})
			$("#json_tab").click(function(){
				$("#id_pluginParameters").val("");
				var val=JSON.stringify(options_json,null,2);
				$("#id_pluginParameters").val(val);
				$("#id_pluginParameters").attr("rows",options_json.length+5);
			})

			$('.nav-tabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
				update_json();
			})

			$("#ui_options").click(function(e){
				if($(e.target).hasClass("remove_option")){
					$(e.target).closest("li").remove();
					update_json();
				}
			})

			$('#options .option').click(function (e) {
				var val=$(this).html()
				var html='<li class="list-group-item">';
{#				html+='<label>'+val+'</label>';#}
                html += '<span class="label label-info">'+val+'</span>';
				html+='<p class="badge remove_option"  style="cursor:pointer">X</p></li>';
				$("#ui_options").append(html);
				update_json();
			})
			$('#options .add_new').click(function (e) {
				var val=$(this).html()
				var html='<li class="list-group-item">';
				html+='<input type="textbox" class="form-control" id="new_item" placeholder="Enter Option">';
				html+=' <p class="badge remove_option"  style="cursor:pointer">X</p></li>';
				$("#ui_options").append(html);
				$("#new_item").focus();
				update_json();
			})
			$("#ui_options").focusout(function (e) {
				if($(e.target).attr("id")=="new_item"){
					var val=$(e.target).val();console.log(val)
					var li=$(e.target).closest("li");console.log(li)
					$(e.target).remove();
					$(li).append('<span class="label label-info">'+val+'</span>');
					update_json();
				}
			})
			$("#ui_options").keypress(function (e) {
				if($(e.target).attr("id")=="new_item" && e.which==13){
					var val=$(e.target).val();console.log(val);
					var li=$(e.target).closest("li");console.log(li);
					$(e.target).remove();
					$(li).append('<span class="label label-info">'+val+'</span>');
					update_json();
				}
			})

            update_ui();
		})

</script>