{% include "header.html" %}
{%  include 'top_nav_bar.html' %}
    {% include 'noscript.html' %}

<div class="container-fluid">
<div class="box span12">
    <div class="box-header well">
        <h2><i class="icon-user"></i>{{ page_title }}</h2>
    </div>
    <div class="box-content">
                <table class="table table-bordered table-striped table-condensed table-fixed-header">
                                 <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Team(s)</th>
                                        <th>Access Level</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                                        <!-- Table 1st row -->
                                {% for user in users %}
                                    <tr>
                                    <td width="15%">{{ user.get_full_name }}</td>
                                    <td width="35%"><div class="btn-group">
                                        {% for team in user.team_set.all %}
                                            <a class="btn btn-info btn-mini" href="/teams/edit/{{ team.id }}">{{ team.name }}</a>
                                        {% endfor %}
                                    </div>
                                    </td>
                                    <td>
                                        {{ user.perms.get_access_level_display }}
                                    </td>
                                    <td width="10%">
{#                                        <div class="btn-group"><a class="btn btn-info btn-mini" href="/users/view/{{ user.id }}"><i class="icon-list"></i>View</a></div>#}
                                        <div class="btn-group"><a class="btn btn-success btn-mini" href="/users/view/{{ user.id }}"><i class="icon-pencil"></i>Manage</a></div>
                                    </td>
                                </tr>
                                {% endfor %}
                                                        <!-- Table 1st  row Ends-->
                                <tr>
                                    <td colspan="4">
                                        <div class="btn-group"><a class="btn btn-info" href="/users/create/"><i class="icon-plus"></i>Add a user</a></div>
                                    </td>
                                </tr>



                         </tbody></table>
    </div>

</div>
</div> <!-- container -->

{% include 'footer.html' %}
