

body 
{
padding-bottom: 40px;
margin: 0;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

.sidebar-nav 
{
padding: 9px 0;
}

.top-block1
{

height:100px;
text-align: center;
padding: 5px;
margin-bottom:10px;
font-weight:bold;
position: relative;
display: block;
line-height: 22px;
text-shadow: 0 0 1px #DDD;
text-decoration:none;
-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
box-shadow: inset 0 0 0 2px #FAFAFA;
color:#FFFFFF;
padding:20px;
border-color: #FA5833;
background-color: #e74c3c;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#007db9e8',GradientType=0 );
}

.top-block3{

height:100px;
text-align: center;
padding: 5px;
margin-bottom:10px;
font-weight:bold;
position: relative;
display: block;
line-height: 22px;
text-shadow: 0 0 1px #DDD;
text-decoration:none;
-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
box-shadow: inset 0 0 0 2px #FAFAFA;
color:#FFFFFF;
padding:20px;
border-color: #2980b9;
background-color: #3498db;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#007db9e8',GradientType=0 );
}

.top-block2{

height:100px;
text-align: center;
padding: 20px;
margin-bottom:10px;
font-weight:bold;
position: relative;
display: block;
line-height: 22px;
text-shadow: 0 0 1px #DDD;
text-decoration:none;
-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
box-shadow: inset 0 0 0 2px #FAFAFA;
color:#FFFFFF;
border-color: #7f8c8d;
background-color: #95a5a6 ;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#007db9e8',GradientType=0 );
}

.dashboard-block{

height:100px;
text-align: center;
padding: 20px;
margin-bottom:10px;
font-weight:bold;
position: relative;
display: block;
line-height: 22px;
text-shadow: 0 0 1px #DDD;
text-decoration:none;
-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
box-shadow: inset 0 0 0 2px #FAFAFA;
color:#FFFFFF;
border-color: #2980b9;
background-color: #3498db;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#007db9e8',GradientType=0 );
}
.alr
{
  font-size: 20px;
}
.dig
{
line-height:130%;
font-size:28px ;

}

.power
{
  text-align:center;
  font-size:12px;
  color:#000;
}


.top-block1:hover
{
  color: #FFFFFF;
  border-color: #FFFFFF;
  /*
  border-color: #FA5833;
  */
  background-color: #c0392b;
 }

.top-block2:hover
{
  color: #FFFFFF;
  /*
  border-color: #7f8c8d;
  */
  border-color: #FFFFFF;
  background-color: #7f8c8d;
}

.top-block3:hover
{
  color:#FFFFFF;
  border-color: #FFFFFF;
  /*
  border-color:   #2980b9;
  */
  background-color: #2980b9  ;
}
.top-block1 span{
clear:both;
}
.top-block1:hover{
text-decoration:none;
}
.top-block2 span{
clear:both;
}
.top-block2:hover{
text-decoration:none;
}
.top-block3 span{
clear:both;
}
.fixed-table
{
  width:98%;
  height:350px;
  overflow:auto;
  margin: 20px 0px 0 20px;
}
.top-block3:hover{
text-decoration:none;
}
.tab-content
{
  margin: 20px 10px 0 20px;
}
.headline
{
   margin: 10px 0 0 10px;
}

.box{
border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-top: 10px; 
margin-bottom: 10px ;

box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
background-color:#ffffff;
}

/*
.box:hover
{
 border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-top: 10px; 
margin-bottom: 10px ;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.6);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.6);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.6);
background-color:#FFF;
}
*/

.box_cmt{
border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-top: 20px; 
margin-bottom: 10px ;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
border:none;
padding-top:5px;
border-bottom: 1px solid #DEDEDE;
border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
-moz-border-radius:3px 3px 0 0;
height:12px;
min-height:12px;
margin-bottom: 0;
cursor:move;
font-weight:bold;
font-size:16px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );

}

.box-header h2{
font-size:15px;
width:auto;
clear:none;
float:left;
line-height:25px;
}
.box-header h3{
font-size:13px;
width:auto;
clear:none;
float:left;
line-height:25px;
}
.box-header h2 > i{
margin-top:1px;
}
.box-icon{
float:right;
}
.box-icon a{
clear:none;
float:left;
margin:0 2px;
height: 18px;
width:5px;
margin-top: -1px;
}
.box-icon a i{
margin-left:-4.5px;
}
.box-content{
padding:10px;
}

[class^="icon-"],
[class*=" icon-"]
{
      display:inline-block;
      width:18px;
      height:14px;
      margin-top:1px;
      *margin-right:.3em;
      line-height:14px;
      vertical-align:text-top;
      background-image:url("../images/icon.png");
      background-position:14px 14px;
      background-repeat:no-repeat
    }

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child
{
  *margin-left: 0;
}

i[class^="icon-"] {
    opacity: 0.8;
}

.icon-plus {
  background-position: -408px -98px;
}
.icon-list-alt {
  background-position: -264px -24px;
}

.icon-th {
  background-position: -240px 0;
}
.icon-user
{
  background-position:-168px 0
}
.icon-bullhorn
{
  background-position: -24px -144px;
}
.icon-info-sign
{
  background-position: -120px -96px;
}
.icon-eye-open
{
background-position: -96px -120px;
}

.icon-wrench{background-position:-360px -144px}
.icon-book{background-position:-48px -48px}
.icon-pencil{background-position:0 -72px}
.icon-list{background-position:-360px -48px}
.icon-user{background-position:-168px 0}
.icon-refresh{background-position:-240px -24px}
h2 {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: #317eac;
  text-rendering: optimizelegibility;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

div.center,p.center,img.center{
margin-left: auto !important;
margin-right: auto !important;
float:none !important;
display: block;
text-align:center;
}

.login-header{
padding-top:30px;
height:120px;
}

.login-box .input-prepend{
margin-bottom: 10px;
}
.login-box .btn{
margin-top:15px;
width:100%
}

.navbar-inner{
border-radius:0 0 10px 10px;
-webkit-border-radius:0 0 10px 10px;
-moz-border-radius:0 0 10px 10px;
padding-bottom:5px; 
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.15) 50%, rgba(30,30,30,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(0,0,0,0.15)), color-stop(100%,rgba(30,30,30,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.15) 50%,rgba(30,30,30,0) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.15) 50%,rgba(30,30,30,0) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.15) 50%,rgba(30,30,30,0) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.15) 50%,rgba(30,30,30,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#001e1e1e',GradientType=0 );
min-height: 30px;
box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar,.top-block {
  font-family: 'Karla', sans-serif;
  background-color:#FFF;
  

}
.highli
{
color: #95a5a6;
}

.dropdown-menu{
  /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #BDB7BA 200%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #BDB7BA 200%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #BDB7BA 200%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(2, #BDB7BA));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #BDB7BA 200%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #BDB7BA 200%);
}


div.center,p.center,img.center{
margin-left: auto !important;
margin-right: auto !important;
float:none !important;
display: block;
text-align:center;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
.form-search
{
  padding-top:10px;
  padding-left: 35px;
  padding-bottom:-10px;
}
.sr-btn
{
  border-radius:0, 5px, 5px, 0;
}
