
	<script src="/content/js/bootstrap.min.js"></script>
	<script src="/content/js/bootstrap-tab.js"></script>
	<script src="/content/js/bootstrap-dropdown.js"></script>
	<script src="/content/js/bootstrap-rowlink.js"></script>
    {% for js in js_list %}
        	<script src="/content/js/{{ js }}"></script>
    {% endfor %}
    <script type="application/javascript">
        $("#success_msg").delay(200).addClass("in").fadeOut(4000);
        $('tbody.rowlink').rowlink();
        {% if auto_refresh_page %}
         setInterval('refreshPage()', 30000);
        {% endif %}
        function refreshPage() { location.reload(); }
    </script>

    {% if include_view_reports_js %}
        {% include 'js_view_reports.html' %}
    {% endif %}
    {% if include_view_pie %}
        {% include 'js_view_pie_chart.html' %}
    {% endif %}
    {% if include_eventaction_param_js %}
        {% include 'js_eventaction_params.html' %}
    {% endif %}
</div><!--end of page container-fluid -->

</body>
</html>
