{% include "header.html" %}
{%  include 'top_nav_bar.html' %}
    {% include 'noscript.html' %}

<div class="container-fluid">

    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon-wrench"></i>{{ page_title }}</h2>
        </div>
        <div class="box-content">
            <form class="form-horizontal" method="POST" accept-charset="."> {% csrf_token %}
            {% for field in form.visible_fields %}
                      {{ field.label }}
                          {{ field }}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-small">Get report</button>
            </form>
        </div>
    </div>

    {% if element %}
    <div class="box span12">
        <div class="box-content">
         <div class="box-header well">
            <h2>There were {{ incidents.count }} unique incidents for {{ element }} in last {{ days }} day(s)</h2>
        </div>
            <table id="sortable-table" class="table table-bordered table-striped table-condensed table-fixed-header table-hover">
                         <thead>
								  <tr>
                                      <th>Element</th>
									  <th>Event ID</th>
									  <th>Incident ID</th>
									  <th>Severity</th>
									  <th>Category</th>
									  <th>Incident Time</th>
									  <th>Worked by</th>
									  <th>Team</th>
									  <th>Status</th>
								  </tr>
                          </thead>
                          <tbody>
                                {% for i in incidents %}
                                    <tr>
                                    <td>{{ i.element }}</td>
                                    <td>[<a href="/events/view/{{ i.event.id }}">{{ i.event.id }}</a>] {{ i.event.summary }}</td>
                                    <td><a href="/incidents/view/{{ i.id }}/">{{ i.id }}</a></td>
                                    <td>{{ i.event.severity }}</td>
                                    <td>{{ i.event.category }}</td>
                                    <td>{{ i.firstEventTime }}</td>
                                    <td>{{ i.closed_by}}</td>
                                    <td>{{ i.event.team }}</td>
                                    <td>{{ i.status}}</td>

                                    </tr>
                                {% endfor %}
                         </tbody>
            </table>
        </div>
    </div>
    {% endif %}

</div> <!-- container -->

{% include 'footer.html' %}
