{% include "header.html" %}
{%  include 'top_nav_bar.html' %}
    {% include 'noscript.html' %}

<div class="container-fluid">


    <div class="box "><!--incident -->
                        <div class="box-header well">
                            <h2><i class="icon-info-sign"></i>Incident Details</h2>
                        </div>
                        <div class="box-content">
                                    <table class="table" width="100%">
                                                          <tr>
                                                            <td width="12%"><div ><strong>Incident ID</strong></div></td>
                                                            <td width="7%">{{ incident.id }}</td>
                                                            <td width="10%"><strong>Event</strong></td>
                                                            <td width="71%"><a href="/events/view/{{ incident.event.id }}/">{{ incident.event.id }}</a></td>
                                                          </tr>
                                                          <tr>
                                                            <td><div><strong>Status</strong></div></td>
                                                            <td>{{ incident.status }}</td>
                                                            <td><strong>Event Summary</strong></td>
                                                            <td>{{ incident.event.summary }}</td>
                                                          </tr>
                                                          <tr>
                                                            <td><div ><strong>Element</strong></div></td>
                                                            <td>{{ incident.element }}</td>
                                                            <td><div ><strong>Severity</strong></div></td>
                                                            <td>{{ incident.event.severity }}</td>
                                                             </tr>

                                                          <tr>
                                                            <td><div ><strong>Count</strong></div></td>
                                                            <td>{{ incident.total_incidents }}</td>
                                                            <td><div ><strong>Team</strong></div></td>
                                                            <td>{{ incident.event.team }}</td>
                                                          </tr>
                                                          {% if incident.status == 'Acknowledged' %}
                                                              <tr>
                                                                  <td colspan="4"><div >Incident acknowledged at
                                                                  <strong>{{ incident.acknowledged_time }}</strong> by
                                                                  <strong> {{ incident.acknowledged_by }}</strong>
                                                                  </td>
                                                              </tr>
                                                          {% endif %}
                                                          {% if incident.status == 'Cleared' %}
                                                              {% if incident.acknowledged_by  %}
                                                              <tr>
                                                                      <td colspan="4"><div >Incident acknowledged at
                                                                      <strong>{{ incident.acknowledged_time }}</strong> by
                                                                      <strong> {{ incident.acknowledged_by }}</strong>
                                                                      </td>
                                                              </tr>
                                                               {% endif %}
                                                          <tr>
                                                              <td colspan="4"><div >Incident cleared at
                                                              <strong>{{ incident.close_time }}</strong> by
                                                              <strong> {{ incident.closed_by }}</strong>
                                                              </td>
                                                          </tr>
                                                          {% endif %}
                                                        <tr>
                                                        <td>
                                                            <strong>Suppressed ?</strong>
                                                        </td>
                                                            <td colspan="3">
                                                                {% if incident.is_suppressed %}
                                                                <form method="post" id="search_suppression" action="/suppression/view/" accept-charset="."> {% csrf_token %}
                                                                <input type="hidden" name="eventid" value="{{ incident.event.id }}" id="eventid">
                                                                <input type="hidden" name="element" value="{{ incident.element }}" id="element">
                                                                <input type="submit" class="btn btn-success btn-small" value="Yes">
                                                                  </form>
                                                                {% else %} No {% endif %}
                                                            </td>
                                                        </tr>
                                                          <tr>
                                                          <td> <strong>Action: </strong></td>
                                                            <td colspan="3">
                                                                {% if incident.status == 'Active' %}
                                                                 <form method="post" action="/incidents/toggle/" accept-charset="."> {% csrf_token %}
                                                                    <input type="hidden" name="incident_id" value="{{ incident.id }}">
                                                                    <input type="hidden" name="incident_status" value="Acknowledged">
                                                                    <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                                                                    <input type="submit" class="btn btn-info" value="Acknowledge Incident" name="toggle_submit">
                                                                 </form>
                                                                 <form method="post" action="/incidents/toggle/" accept-charset="."> {% csrf_token %}
                                                                    <input type="hidden" name="incident_id" value="{{ incident.id }}">
                                                                    <input type="hidden" name="incident_status" value="Cleared">
                                                                    <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                                                                    <input type="submit" class="btn btn-success" value="Close Incident" name="toggle_submit">
                                                                 </form>
                                                                {% elif incident.status == 'Acknowledged' %}
                                                                    <form method="post" action="/incidents/toggle/" accept-charset="."> {% csrf_token %}
                                                                        <input type="hidden" name="incident_id" value="{{ incident.id }}">
                                                                        <input type="hidden" name="incident_status" value="Cleared">
                                                                        <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                                                                        <input type="submit" class="btn btn-success" value="Close Incident" name="toggle_submit">
                                                                    </form>
                                                                {% endif %}
                                                            </td>

                                                          </tr>

                                        </table>

                    </div>

    </div> <!--incident -->



     <div class="box "><!--comments -->
                        <div class="box-header well">
                            <h2><i class="icon-info-sign"></i>Incident details</h2>
                        </div>
                           <div class="tabbable tabs-below">

                                <div class="tab-content ">
                                    <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#incidentlogstab" data-toggle="tab">Incident logs <span class="badge">{{ incidentlogs.count }}</span> </a></li>
                                                    <li><a href="#vieweventactions" data-toggle="tab">Event Action Logs <span class="badge">{{ eventactionlogs.count }}</span> </a></li>
                                                    <li><a href="#viewcommentstab" data-toggle="tab">Comments <span class="badge">{{ comments.count }}</span> </a></li>

                                    </ul>
                                    <div class="tab-pane active" id="incidentlogstab">
                                            <div class="box "><!--incident logs -->
                                                    {% if not incidentlogs %}
                                                        <h4 class="alert-danger">No incident logs found, we need to flash the bat-signal!</h4>
                                                    {% else %}
                                                        <table class="table table-bordered table-striped table-condensed table-fixed-header table-hover">
                                                         <thead>
                                                          <tr>
                                                              <th width="15%">Timestamp</th>
                                                              <th>Message</th>
                                                          </tr>
                                                          </thead>
                                                        <tbody>
                                                        {% for i in incidentlogs %}
                                                            <tr>
                                                            <td>{{ i.timestamp }}</td>
                                                            <td>{{ i.msg }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                        </table>
                                                    {% endif %}
                                            </div><!--incident logs /-->
                                    </div>

                                    <div class="tab-pane" id="vieweventactions">
                                        <div class="box "><!--incident logs -->
                                                    {% if not eventactionlogs %}
                                                        <h5 class="alert-warning">No event actions!</h5>
                                                    {% else %}
                                                        <table class="table table-bordered table-striped table-condensed table-fixed-header table-hover">
                                                         <thead>
                                                          <tr>
                                                              <th width="15%">Timestamp</th>
                                                              <th>Event Action</th>
                                                              <th>Response Text</th>
                                                          </tr>
                                                          </thead>
                                                        <tbody>
                                                        {% for actions in eventactionlogs %}
                                                            <tr>
                                                            <td>{{ actions.dateAdded }}</td>
                                                            <td>{{ actions.eventAction.plugin }}</td>
                                                            <td>{{ actions.text }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                        </table>
                                                    {% endif %}
                                            </div><!--eventactions logs /-->
                                    </div>

                                    <div class="tab-pane" id="viewcommentstab">
                                       <table class="table table-bordered table-condensed">
                                       <form class="form-horizontal" method="POST" accept-charset="." action="/comments/add/"> {% csrf_token %}
                                            <textarea rows="3" cols="200" style="width:40%;" id="id_text" name="text"></textarea>
                                             <input id="id_incident" name="incident" type="hidden" value="{{ incident.id }}"/>
                                             <input id="id_user" name="user" type="hidden" value="{{ request.user.id }}"/>
                                            <button type="submit" class="btn btn-primary btn-small">Add comment</button>
                                        </form>
												{% if comments %}
                                                    {% for comment in comments %}
                                                    <tr >
													  <td colspan="4" >
													   <div style="float:left;"><a href="/users/view/{{ comment.user.id }}">{{ comment.user }}</a>&ensp;<a class="highli">{{ comment.date_added }}</a></div>
                                                        <div>{{ comment.text }}</div>
                                                        </td>
                                                     </tr>
                                                    {% endfor %}
                                                {% else %}

                                                    No comments.
                                                {% endif %}
                                       </table>
                                    </div>
                                </div><!-- tab-content-->



                            </div> <!-- tabs /-->
     </div><!--incident logs -->
</div> <!-- container -->

{% include 'footer.html' %}